[Unit]
Description=Hyprsunset Temperature Adjustment Service

[Service]
Type=oneshot
ExecStart=%h/.config/hypr/scripts/hyprsunset/hyprsunset-timer.sh

[Install]
WantedBy=default.target
