[Unit]
Description=Hyprsunset Temperature Adjustment Service

[Service]
Type=oneshot
ExecStart=%h/.local/share/scripts/hyprland/hyprsunset/hyprsunset-timer.sh

[Install]
WantedBy=default.target
