[Unit]
Description=Run Hyprsunset Temperature Adjustment every minute

[Timer]
Unit=hyprsunset.service
#OnCalendar=*:*:00
OnCalendar=*:0/10
OnStartupSec=10s
AccuracySec=1s

[Install]
WantedBy=timers.target
