#      _             _
#  ___| |_ __ _ _ __| |_ _   _ _ __
# / __| __/ _` | '__| __| | | | '_ \
# \__ \ || (_| | |  | |_| |_| | |_) |
# |___/\__\__,_|_|   \__|\__,_| .__/
#                             |_|
#
# -----------------------------------------------------------------------------------------------------------------------------------------

if [[ $(tty) == *"pts"* ]]; then
    # Get terminal dimensions.
    width=$(tput cols)
    height=$(tput lines)

    # Use a different template based on size.
    if (( width >= 110 && height >= 40 )); then
        fastfetch
    elif (( width >= 80 && height >= 20 )); then
        fastfetch -c "$HOME/.config/fastfetch/config_small.jsonc"
    fi

    # Codium lives in its fake home, this export is needed so the integrated terminal use the right home otherwise some programs break.
    if [[ "$TERM_PROGRAM" == "vscode" ]]; then
        export HOME="{{- .chezmoi.homeDir }}"
    fi
else
    echo "Start Hyprland with command Hyprland"
fi
