/*
 *  ____        __ _                                    _           _
 * |  _ \ ___  / _(_)  ___  ___ _ __ ___  ___ _ __  ___| |__   ___ | |_ ___
 * | |_) / _ \| |_| | / __|/ __| '__/ _ \/ _ \ '_ \/ __| '_ \ / _ \| __/ __|
 * |  _ < (_) |  _| | \__ \ (__| | |  __/  __/ | | \__ \ | | | (_) | |_\__ \
 * |_| \_\___/|_| |_| |___/\___|_|  \___|\___|_| |_|___/_| |_|\___/ \__|___/
 *
 * ----------------------------------------------------------------------------------------------------------------------------------------
 */


@import "config-base.rasi"

// Configuration --------------------------------------------------------------------------------------------------------------------------
configuration {
    modi:                           "drun";
    show-icons:                     false;
	hover-select:                   true;
    me-select-entry:                "";
    me-accept-entry:                "MousePrimary";
}

// Window / Mainbox -----------------------------------------------------------------------------------------------------------------------
window {
    font:             "Noto Sans Bold 14";
    width:            20%;
}

mainbox {
    enabled:          true;
    children:         [ "listview" ];
}

// Listview --------------------------------------------------------------------------------------------------------------------------------
listview {
    cycle:            true;
    padding:          1%;
    spacing:          1%;
}

// Elements --------------------------------------------------------------------------------------------------------------------------------
element {
    padding:          1% 1% 1% 1.5%;
}
