/*
 *  ____        __ _                        _ _
 * |  _ \ ___  / _(_)   ___ _ __ ___   ___ (_|_)
 * | |_) / _ \| |_| |  / _ \ '_ ` _ \ / _ \| | |
 * |  _ < (_) |  _| | |  __/ | | | | | (_) | | |
 * |_| \_\___/|_| |_|  \___|_| |_| |_|\___// |_|
 *                                       |__/
 *
 * ----------------------------------------------------------------------------------------------------------------------------------------
 * For a simple prompt for a value.
 * ----------------------------------------------------------------------------------------------------------------------------------------
 */

@import "config-base.rasi"

// Configuration --------------------------------------------------------------------------------------------------------------------------
configuration {
    modi:                           "drun";
    show-icons:                     false;
	hover-select:                   true;
    me-select-entry:                "";
    me-accept-entry:                "MousePrimary";
}

// Overwriting font size.
configuration {
    font:                           "Noto Sans 13";
}

// Window / Mainbox -----------------------------------------------------------------------------------------------------------------------
window {
    location:                       northeast;
    anchor:                         northeast;
    width:                          25%;
    x-offset:                       -5%;
    y-offset:                       5%;
}

mainbox {
    orientation:                    horizontal;
    spacing:                        2%;
    margin:                         1%;
    children:                       [ "listbox" ];
}

// Listbox --------------------------------------------------------------------------------------------------------------------------------
listbox {
    children:                       [ "inputbar", "listview" ];
}

// Search bar -----------------------------------------------------------------------------------------------------------------------------
inputbar {
	children: 						[ "textbox-prompt-colon", "entry" ];
}

entry {
    font:                           "Noto Sans Bold 12";
    placeholder:                    "Search";
}

// Listview -------------------------------------------------------------------------------------------------------------------------------
listview {
    padding:                        1% 0% 0% 0%;
    columns:                        1;
    lines:                          10;
    cycle:                          true;
}

// Elements -------------------------------------------------------------------------------------------------------------------------------
element {
    padding:                        1% 1% 1% 1.5%;
    margin:                         0.5% 0 0.5% 0;
}
