/*  ____        __ _                                        _           _
 * |  _ \ ___  / _(_)      ___  ___ _ __ ___  ___ _ __  ___| |__   ___ | |_ ___
 * | |_) / _ \| |_| |_____/ __|/ __| '__/ _ \/ _ \ '_ \/ __| '_ \ / _ \| __/ __|
 * |  _ < (_) |  _| |_____\__ \ (__| | |  __/  __/ | | \__ \ | | | (_) | |_\__ \
 * |_| \_\___/|_| |_|     |___/\___|_|  \___|\___|_| |_|___/_| |_|\___/ \__|___/
 *
 * ----------------------------------------------------------------------------------------------------------------------------------------
 */


@import "config-base.rasi"

// Configuration --------------------------------------------------------------------------------------------------------------------------
configuration {
    font:                           "Noto Sans Bold 14";
    modi:                           "drun";
    show-icons:                     false;
	hover-select:                   true;
    me-select-entry:                "";
    me-accept-entry:                "MousePrimary";
}

// Window / Mainbox -----------------------------------------------------------------------------------------------------------------------
window {
    transparency:     "real";
    location:         center;
    anchor:           center;
    fullscreen:       false;
    width:            20%;
    x-offset:         0;
    y-offset:         0;
    margin:           0;
    padding:          0;
    cursor:           "default";
}

mainbox {
    enabled:          true;
    spacing:          1%;
    padding:          0% 0% 0 1%;
    margin:           0;
    background-color: transparent;
    orientation:      horizontal;
    children:         [ "listview" ];
}

// Listview --------------------------------------------------------------------------------------------------------------------------------
listview {
    padding:          1% 1% 1% 0%;
    enabled:          true;
    cycle:            true;
    scrollbar:        false;
    layout:           vertical;
    spacing:          1%;
    background-color: transparent;
    cursor:           "default";
}

// Elements --------------------------------------------------------------------------------------------------------------------------------
element {
    enabled:          true;
    background-color: transparent;
    cursor:           pointer;
    padding:          1%;
}


element-text {
    background-color: transparent;
    text-color:       inherit;
    cursor:           inherit;
    vertical-align:   0.5;
    horizontal-align: 0.0;
}
