/*  ____        __ _
 * |  _ \ ___  / _(_)      _ __ _   _ _ __
 * | |_) / _ \| |_| |_____| '__| | | | '_ \
 * |  _ < (_) |  _| |_____| |  | |_| | | | |
 * |_| \_\___/|_| |_|     |_|   \__,_|_| |_|
 *
 * ----------------------------------------------------------------------------------------------------------------------------------------
 */

@import "config-base.rasi"

// Configuration --------------------------------------------------------------------------------------------------------------------------
configuration {
    modi:                           "run";
    show-icons:                     false;
    font:                           "Noto Sans 14";
    sidebar-mode:                   false;
}

// Window / Mainbox --------------------------------------------------------------------------------------------------------------------------------
window {
    width:                          40%;
    padding:                        0.5%;
}

mainbox {
    children:                       [inputbar];
}

inputbar {
    children:                       [ "textbox-prompt-colon", "entry" ];
    padding:                        0.5%;
    border:                         false;
    background-color:               transparent;
}

textbox-prompt-colon {
    font:                           "Noto Sans Bold 14";
    enabled:                        true;
    str:                            ">";
    padding:                        0 1% 0 0;
    background-color:               transparent;
}

entry {
    font:                           "Noto Sans 12";
    placeholder:                    "Command";
}
