//                                            _             _         _
//   _____      ____      __  _ __ ___   __ _(_)_ __    ___| |_ _   _| | ___
//  / _ \ \ /\ / /\ \ /\ / / | '_ ` _ \ / _` | | '_ \  / __| __| | | | |/ _ \
// |  __/\ V  V /  \ V  V /  | | | | | | (_| | | | | | \__ \ |_| |_| | |  __/
//  \___| \_/\_/    \_/\_/   |_| |_| |_|\__,_|_|_| |_| |___/\__|\__, |_|\___|
//                                                              |___/
//
// ----------------------------------------------------------------------------------------------------------------------------------------

* {
  all: unset;
}

@import "colors-eww.scss";

$border-theme: 2px solid $border-color;
$border-half-width: 0px 0px 2px 2px;

tooltip {
  background-color: $background-theme;
  color: $foreground-theme;
  font-family: MesloLGS NF medium;
  font-weight: Bold;
  font-size: 1rem;
  border-radius: 0.5rem 1rem;
  border: $border-theme;
  padding: 2rem;
}

@import "brightness/menu.scss";
@import "brightness/slider.scss";
@import "sound/slider.scss";
@import "sound/sink-switcher.scss";
@import "themes/menu.scss";
