//      _       _                      _ _       _                     _         _
//  ___(_)_ __ | | __     _____      _(_) |_ ___| |__   ___ _ __   ___| |_ _   _| | ___
// / __| | '_ \| |/ /____/ __\ \ /\ / / | __/ __| '_ \ / _ \ '__| / __| __| | | | |/ _ \
// \__ \ | | | |   <_____\__ \\ V  V /| | || (__| | | |  __/ |    \__ \ |_| |_| | |  __/
// |___/_|_| |_|_|\_\    |___/ \_/\_/ |_|\__\___|_| |_|\___|_|    |___/\__|\__, |_|\___|
//                                                                         |___/
//
// ----------------------------------------------------------------------------------------------------------------------------------------

/* Main widget container */
.sink-switch-widget {
  background-color: $background-theme;
  border: $border-theme;

  border-radius: 1rem 2rem;
  padding: 0.6rem;
}

.switch-item {
  background-color: $background-theme;
  color: $foreground-theme;
  border-radius: 1rem 2rem;

  border-style: solid;
  border-width: $border-half-width;
  border-color: transparent;

  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.2s ease;

  padding: 0.6rem 2rem;
  margin: 0.3rem 0rem;

  &:hover {
    background-color: $accent-color-transparent;
    border-style: solid;
    border-width: $border-half-width;
    border-color: $accent-color;
  }

  &:active {
    background-color: #303030;
  }
}
