[Desktop Entry]
Name=Cheat Sheet
Comment=System path cheat sheet
StartupWMClass=cheatsheet
Exec=brave --app='file://{{ .chezmoi.homeDir }}/.local/share/scripts/system/system-paths.html'
Icon=preferences-system-network-server-ftp
Terminal=false
Type=Application
Categories=Development;
MimeType=text/html
NoDisplay=true

