[Desktop Entry]
Name=Bluetooth Manager
Exec=adw-bluetooth
Icon=gnome-bluetooth
Terminal=false
Type=Application
Categories=System;GTK;
StartupNotify=true
