[Desktop Entry]
Name=Adwaita Bluetooth
GenericName=Bluetooth Manager
Comment=Manage Bluetooth devices and connections
Exec=adw-bluetooth
Icon=gnome-bluetooth
Terminal=false
Type=Application
Categories=GTK;Network;Bluetooth;
StartupNotify=true
