[Desktop Entry]
Name=Game 1170028348756471908
Exec=/usr/bin/boosteroid.bin %u
Type=Application
NoDisplay=true
Categories=Discord;Games;
MimeType=x-scheme-handler/discord-1170028348756471908;
