[Desktop Entry]
Name=FTL: Faster Than Light
Comment=Play this game on Steam
Exec=steam.sh steam://rungameid/212680
Icon=steam_icon_212680
Terminal=false
Type=Application
Categories=Game;
NoDisplay=true
