[Desktop Entry]
Name=Don't Starve
Comment=Play this game on Steam
Exec=steam steam://rungameid/219740
Icon=dont-starve-together
Terminal=false
Type=Application
Categories=Game;
NoDisplay=true

