[Desktop Entry]
Name=Crow Country
Comment=Play this game on Steam
Exec=steam steam://rungameid/1996010
Icon=steam_icon_1996010
Terminal=false
Type=Application
Categories=Game;
NoDisplay=true
