[Desktop Entry]
Name=Proton 9.0
Comment=Play this game on Steam
Exec=steam steam://rungameid/2805730
Icon=steam
Terminal=false
Type=Application
Categories=Game;
NoDisplay=true
