[Desktop Entry]
Name=Gunpoint
Comment=Play this game on Steam
Exec=steam.sh steam://rungameid/206190
Icon=steam_icon_206190
Terminal=false
Type=Application
Categories=Game;
NoDisplay=true
