[Desktop Entry]
Name=Shotgun King: The Final Checkmate
Comment=Play this game on Steam
Exec=/home/tristan/.config/hypr/settings/steam.sh steam://rungameid/1972440
Icon=steam_icon_1972440
Terminal=false
Type=Application
Categories=Game;
NoDisplay=true
