[Desktop Entry]
Name=Thronefall
Comment=Play this game on Steam
Exec=/home/tristan/.config/hypr/launchers/steam.sh steam://rungameid/2239150
Icon=steam_icon_2239150
Terminal=false
Type=Application
Categories=Game;
NoDisplay=true
