[Desktop Entry]
Name=HyprMod
Comment=GTK4/libadwaita settings app for Hyprland
Exec=hyprmod
Icon=preferences-desktop-theme-global
Terminal=false
Type=Application
Categories=Settings;GTK;
StartupNotify=true
