[Desktop Entry]
Name=Typora
GenericName=Markdown Editor
#Exec=typora.sh %U
Exec=typora.sh
Icon=typora
Type=Application
StartupNotify=true
Categories=Office;WordProcessor;
MimeType=text/markdown;text/x-markdown;

