[Desktop Entry]
Name=VSCodium - Wayland
Comment=Code Editing. Redefined.
GenericName=Text Editor
Exec=codium --enable-features=UseOzonePlatform,WaylandWindowDecorations --ozone-platform=wayland %F
Icon=vscodium
Type=Application
StartupNotify=false
StartupWMClass=codium
Categories=Utility;Development;IDE;
MimeType=text/plain;inode/directory;
Actions=new-empty-window;
Keywords=vscodium;codium;vscode;
NoDisplay=true
Hidden=true

[Desktop Action new-empty-window]
Name=New Empty Window
Exec=codium --enable-features=UseOzonePlatform,WaylandWindowDecorations --ozone-platform=wayland --new-window %F
Icon=vscodium
