[Desktop Entry]
Name=VSCodium
Comment=Code Editing. Redefined.
GenericName=Text Editor
Exec=codium.sh %F
Icon=vscodium
Type=Application
StartupNotify=false
StartupWMClass=codium
Categories=Utility;Development;IDE;
MimeType=text/plain;inode/directory;
Actions=new-empty-window;
Keywords=vscodium;codium;vscode;

[Desktop Action new-empty-window]
Name=New Empty Window
Exec=codium.sh --new-window %F
Icon=vscodium
