/*
 * __        __          _                  ____  _         _
 * \ \      / /_ _ _   _| |__   __ _ _ __  / ___|| |_ _   _| | ___
 *  \ \ /\ / / _` | | | | '_ \ / _` | '__| \___ \| __| | | | |/ _ \
 *   \ V  V / (_| | |_| | |_) | (_| | |     ___) | |_| |_| | |  __/
 *    \_/\_/ \__,_|\__, |_.__/ \__,_|_|    |____/ \__|\__, |_|\___|
 *                 |___/                              |___/
 *
 * ----------------------------------------------------------------------------------------------------------------------------------------
 */


/*
 *   ____      _
 *  / ___|___ | | ___  _ __ ___
 * | |   / _ \| |/ _ \| '__/ __|
 * | |__| (_) | | (_) | |  \__ \
 *  \____\___/|_|\___/|_|  |___/
 *
 * --------------------------------------------------------------------------------------
 */

@import 'colors-waybar.css';

/* workspace text colors */
@define-color act_wrk_fg rgba(0, 0, 0, 1);

/* taskbar button-background colors */
@define-color taskbar_bg rgba(255, 255, 255, 0.2);

/* element colours */
@define-color accent-color-element @accent-color;
@define-color background-theme-element @background-theme;

/* updates-widget icon+text colors */
@define-color updates_green #a3be8c;
@define-color updates_yellow #ff9a3c;
@define-color updates_red #dc2f2f;

/*
 *   ____                           _
 *  / ___| ___ _ __   ___ _ __ __ _| |
 * | |  _ / _ \ '_ \ / _ \ '__/ _` | |
 * | |_| |  __/ | | |  __/ | | (_| | |
 *  \____|\___|_| |_|\___|_|  \__,_|_|
 *
 * --------------------------------------------------------------------------------------
 */

* {
    min-height: 20px;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
    color: @foreground-theme;
    font-family: "MesloLGS NF";
    font-weight: bold;
    font-size: 16px;
}

tooltip {
    background: @background-theme-element;
    border-radius: 25px 15px;
    border: 2px solid @accent-color-element;
}

tooltip label {
    font-size: 14px;
    padding: 5px;
}

/* group "quicklinks" widgets */
#custom-filemanager, #custom-browser, #custom-terminal, #custom-editor, #custom-obsidian,
/* group "misc" widgets */
#custom-misc, #idle_inhibitor,
/* group "devices" widgets */
#devices, #devices-secondary, #bluetooth, #pulseaudio, #network,
/* group "system" widgets */
#system, #system-secondary, #custom-updates, #custom-power {
    padding: 0px 10px;
}

#custom-appmenu, #quicklinks, #workspaces, #taskbar, #center, #center-secondary, #misc {
    padding: 0px 13px;
}

/*
 *     _                  __  __
 *    / \   _ __  _ __   |  \/  | ___ _ __  _   _
 *   / _ \ | '_ \| '_ \  | |\/| |/ _ \ '_ \| | | |
 *  / ___ \| |_) | |_) | | |  | |  __/ | | | |_| |
 * /_/   \_\ .__/| .__/  |_|  |_|\___|_| |_|\__,_|
 *         |_|   |_|
 *
 * --------------------------------------------------------------------------------------
 */

#custom-appmenu {
    background: @background-theme;
    border-radius: 25px 15px;
    border: 2px solid @accent-color;
}

#custom-appmenu:hover {
    color: @accent-color;
    transition: ease-in-out 0.2s;
}

/*
 *   ___        _      _    _ _       _
 *  / _ \ _   _(_) ___| | _| (_)_ __ | | _____
 * | | | | | | | |/ __| |/ / | | '_ \| |/ / __|
 * | |_| | |_| | | (__|   <| | | | | |   <\__ \
 *  \__\_\\__,_|_|\___|_|\_\_|_|_| |_|_|\_\___/
 *
 * --------------------------------------------------------------------------------------
 */

#quicklinks {
    background: @background-theme;
    border-radius: 25px 15px;
    border: 2px solid @accent-color;
}

#custom-filemanager:hover, #custom-browser:hover, #custom-terminal:hover, #custom-editor:hover, #custom-typora:hover {
    color: @accent-color;
    transition: ease-in-out 0.2s;
}

/*
 * __        __         _
 * \ \      / /__  _ __| | _____ _ __   __ _  ___ ___  ___
 *  \ \ /\ / / _ \| '__| |/ / __| '_ \ / _` |/ __/ _ \/ __|
 *   \ V  V / (_) | |  |   <\__ \ |_) | (_| | (_|  __/\__ \
 *    \_/\_/ \___/|_|  |_|\_\___/ .__/ \__,_|\___\___||___/
 *                              |_|
 *
 * --------------------------------------------------------------------------------------
 */

#workspaces {
    background: @background-theme;
    border-radius: 25px 15px;
    border: 2px solid @accent-color;
    padding: 2px 13px;
}

/* ALL workspace buttons (Focused + Unfocused) */
#workspaces button:hover {
    background-color: rgba(160, 160, 160, 0.2);
}

/* Only focused workspace*/
#workspaces button.active {
    color: @act_wrk_fg;
    background: @accent-color;
    border-radius: 10px 5px;
    padding: 1px 2px;
    margin: 2px 4px;
    transition: all 0.3s ease-in-out;
}

#workspaces button {
    color: @foreground-theme;
    background: @background-theme-element;
    border-radius: 10px 5px;
    padding: 1px 2px;
    margin: 2px 4px;
    transition: all 0.3s ease-in-out;
}

#workspaces button:not(.empty):not(.active) {
    color: @accent-color;
    padding: 1px 2px;
    margin: 2px 4px;
}

/*
 *  _____         _    _
 * |_   _|_ _ ___| | _| |__   __ _ _ __
 *   | |/ _` / __| |/ / '_ \ / _` | '__|
 *   | | (_| \__ \   <| |_) | (_| | |
 *   |_|\__,_|___/_|\_\_.__/ \__,_|_|
 *
 * --------------------------------------------------------------------------------------
 */

#taskbar {
    background: @background-theme;
    border-radius: 25px 15px;
    border: 2px solid @accent-color;
}

#taskbar button {
    border-radius: 10px 5px;
    padding: 0px 4px;
    margin: 3px 4px;
}

#taskbar button.active {
    border-radius: 10px 5px;
    background: @taskbar_bg;
    transition: all 0.3s ease-in-out;
}

#taskbar button:hover {
    background: @accent-color;
    border-radius: 10px 5px;
    transition: all 0.3s ease-in-out;
}

#taskbar.empty {
    background: transparent;
    border: none;
    padding: 0px;
}

/*
 *   ____ _            _
 *  / ___| | ___   ___| | __
 * | |   | |/ _ \ / __| |/ /
 * | |___| | (_) | (__|   <
 *  \____|_|\___/ \___|_|\_\
 *
 * --------------------------------------------------------------------------------------
 */

#center, #center-secondary {
    background: @background-theme;
    border-radius: 15px 15px 25px 25px;
    border: 2px solid @accent-color;
}

#clock {
    font-size: 14px;
    padding: 2px 10px 2px 10px;
}

#clock:hover {
    color: @accent-color;
    transition: ease-in-out 0.2s;
}

/*
 *  __  __ _
 * |  \/  (_)___  ___
 * | |\/| | / __|/ __|
 * | |  | | \__ \ (__
 * |_|  |_|_|___/\___|
 *
 * --------------------------------------------------------------------------------------
 */

#misc {
    background: @background-theme;
    border-radius: 15px 25px;
    border: 2px solid @accent-color;
}

#idle_inhibitor:hover, #idle_inhibitor.activated:hover, #custom-theme_switch:hover, #custom-cliphist:hover, #custom-hyprsunset:hover,
#custom-gamemode:hover, #custom-hyprsunset.auto_timer:hover, #custom-hyprsunset.filter_on:hover,
#custom-printer:hover, #custom-printer.cups_on:hover, #custom-printer.cups_off:hover,
#custom-docker:hover, #custom-docker.docker_on:hover, #custom-docker.docker_off:hover {
    color: @accent-color;
    transition: ease-in-out 0.2s;
}

#misc:hover #custom-misc {
    color: @accent-color;
    transition: ease-in-out 0.2s;
}

#idle_inhibitor.activated {
    color: #99d989;
}

#custom-hyprsunset.filter_on {
    color: #99d989;
}

#custom-hyprsunset.auto_timer {
    color: #e8a561;
}

#custom-printer.cups_on {
    color: #99d989;
}

#custom-docker.docker_on {
    color: #99d989;
}

#custom-debugger.state_ok {
    color: #99d989;
}

#custom-debugger.state_ko {
    color: #e8a561;
}


/*
 *  ____             _
 * |  _ \  _____   _(_) ___ ___  ___
 * | | | |/ _ \ \ / / |/ __/ _ \/ __|
 * | |_| |  __/\ V /| | (_|  __/\__ \
 * |____/ \___| \_/ |_|\___\___||___/
 *
 * --------------------------------------------------------------------------------------
 */

#devices, #devices-secondary {
    background: @background-theme;
    border-radius: 15px 25px;
    border: 2px solid @accent-color;
}

#pulseaudio:hover, #bluetooth:hover, #backlight:hover, #network:hover, #battery:hover,
#battery.warning:hover, #battery.low:hover, #battery.critical:hover {
    color: @accent-color;
    transition: ease-in-out 0.2s;
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

 #battery.warning {
    color: rgb(242, 203, 94);
}

#battery.low {
    color: rgb(245, 139, 93);
}

#battery.critical {
    color: rgb(217, 93, 74);
}

/*
 *  ____            _
 * / ___| _   _ ___| |_ ___ _ __ ___
 * \___ \| | | / __| __/ _ \ '_ ` _ \
 *  ___) | |_| \__ \ ||  __/ | | | | |
 * |____/ \__, |___/\__\___|_| |_| |_|
 *        |___/
 *
 * --------------------------------------------------------------------------------------
 */

#system, #system-secondary {
    background: @background-theme;
    border-radius: 15px 25px;
    border: 2px solid @accent-color;
}

#custom-power:hover {
    color: @accent-color;
    transition: ease-in-out 0.2s;
}

/*
 *   ___  _   _
 *  / _ \| |_| |__   ___ _ __
 * | | | | __| '_ \ / _ \ '__|
 * | |_| | |_| | | |  __/ |
 *  \___/ \__|_| |_|\___|_|
 *
 * --------------------------------------------------------------------------------------
 */

/*
#custom-updates.green {
    color: @updates_green;
}
*/

#custom-updates.yellow {
    color: @updates_yellow;
}

#custom-updates.red {
    color: @updates_red;
}

/* -----------------------------------------------------
 * VPN
 * ----------------------------------------------------- */

 /* #custom-updates.noupdate {
    color: transparent;
 } */

#custom-vpnstatus:hover, #custom-updates:hover {
    color: @accent-color;
    transition: ease-in-out 0.2s;
}
