# Allows hiding any entries which don't have box art images defined
hide_entries_without_box_art = false
# Directory to find box art in if an absolute path is not given
box_art_dir = "{{ .chezmoi.homeDir }}/Media/Pictures/rofi-games/box-art"
# If the box art for a game is not found, fallback to using the icon
fallback_to_icons = true
# Show the source launcher next to the title of each entry
show_entry_source_text = true
# Make entry titles bold - recommended if showing the source text
use_bold_entry_title = true

# Settings relating to the ordering of listed entries
[sort]
# Possible options for sort order:
#  - "alphabetical"
#  - "none" - don't apply any ordering algorithm
#  - "frequency" - most frequently accessed
#  - "recency" - most recently accessed
#  - "frecency" - weighted combination of frequency and recency (default)
order = "alphabetical"
 # Option to reverse the result of the sort order. Ignored if sort order is none.
reverse = false

[[entries]]
title = "The Legend of Zelda: Majora's Mask"
launch_command = "mupen64plus {{ .chezmoi.homeDir }}/Nextcloud/99-Documents/07-Games/ROMs/TloZ-majoras_mask.n64"
# launch_env = { LOG_LEVEL = "info", "can_quote_key_too" = "some_value"}
# launch_env = { SDL_VIDEODRIVER = "x11" }
# path_game_dir = "/opt/GDLauncher"
path_box_art = "majoras_mask.png"

[[entries]]
title = "Thronefall"
launch_env = { HOME = "{{ .chezmoi.homeDir }}/.local/share/fake_home"}

[[entries]]
title = "Slay the Spire"
launch_env = { HOME = "{{ .chezmoi.homeDir }}/.local/share/fake_home"}

[[entries]]
title = "FTL: Faster Than Light"
launch_env = { HOME = "{{ .chezmoi.homeDir }}/.local/share/fake_home"}

[[entries]]
title = "Don't Starve"
launch_env = { HOME = "{{ .chezmoi.homeDir }}/.local/share/fake_home"}
