/*
 *  ____        __ _   _                                       __ _
 * |  _ \ ___  / _(_) | |__   __ _ ___  ___    ___ ___  _ __  / _(_) __ _
 * | |_) / _ \| |_| | | '_ \ / _` / __|/ _ \  / __/ _ \| '_ \| |_| |/ _` |
 * |  _ < (_) |  _| | | |_) | (_| \__ \  __/ | (_| (_) | | | |  _| | (_| |
 * |_| \_\___/|_| |_| |_.__/ \__,_|___/\___|  \___\___/|_| |_|_| |_|\__, |
 *                                                                  |___/
 *
 * ----------------------------------------------------------------------------------------------------------------------------------------
 * Base styling elements used by all rofi instances.
 * ----------------------------------------------------------------------------------------------------------------------------------------
 */

@import "~/.cache/wal/colors-rofi-pywal"

configuration {
    font:                           "Fira Sans 11";
}

* {
    border-width:                   0.2%;
    main-color:                     @accent-color;
    main-color-tr:                  @accent-color-transparent;
}

// Window / Mainbox -----------------------------------------------------------------------------------------------------------------------
window {
    transparency:                   "real";
    text-color:                     @foreground;

    border:                         @border-width;
    border-color:                   @main-color;
    border-radius:                  1.5%;
    background-color:               @background;
}

// Search bar -----------------------------------------------------------------------------------------------------------------------------
inputbar {
    enabled:                        true;
    background-color:               @background;
    text-color:                     @foreground;
    expand:                         false;
	border:							0% 0% 0.3% 0.2%;
    border-radius:                  1.5% 1.0% 1.5% 1.5%;
	border-color:					@main-color;
    margin:                         0% 0% 0% 0%;
    padding:                        1%;
    position:                       center;
}

entry {
    enabled:                        true;
    background-color:               transparent;
    text-color:                     inherit;
    placeholder-color:              inherit;
    expand:                         true;
    cursor:                         text;
    horizontal-align:               0;
    padding:                        0.15% 0% 0% 0%;
    blink:                          true;
}

prompt {
    enabled: 						true;
	padding: 						0 1% 0 0;
    str:                            "󰍉";
	background-color: 				transparent;
	text-color: 					@foreground;
}

textbox-prompt-colon {
    enabled: 						true;
	padding: 						0 1% 0 0;
    str:                            "󰍉";
	background-color: 				transparent;
	text-color: 					@foreground;
}

// Listview -------------------------------------------------------------------------------------------------------------------------------
listview {
    cycle:                          false;
    dynamic:                        true;
    layout:                         vertical;

    scrollbar:                      false;
    reverse:                        false;

    fixed-height:                   true;
    fixed-columns:                  true;
    spacing:                        0;
    margin:                         0;
    padding:                        0;
    border:                         0;
}

// Elements -------------------------------------------------------------------------------------------------------------------------------
element {
    enabled:                        true;
    orientation:                    vertical;
    border-radius:                  1%;
    padding:                        2% 0% 2% 0%;
}

element normal.normal,
element normal.urgent,
element normal.active,
element alternate.normal,
element alternate.urgent,
element alternate.active {
    background-color:               inherit;
    text-color:                     @foreground;
}

element selected.normal {
    background-color:               @main-color-tr;
    text-color:                     @foreground;
	border:							0% 0% 0.3% 0.2%;
    border-radius:                  1.5% 1.0% 1.5% 1.5%;
    border-color:                  	@main-color;
}

element selected.urgent,
element selected.active  {
    background-color:               inherit;
    text-color:                     @foreground;
}

// Message --------------------------------------------------------------------------------------------------------------------------------
message {
    background-color: transparent;
    border: 0px;
    margin: 20px 0px 0px 0px;
    padding: 0px;
    spacing: 0px;
    border-radius: 10px;
}

textbox {
    padding: 15px;
    margin: 0px;
    border-radius: 0px;
    background-color: @background;
    text-color: @foreground;
    vertical-align: 0.5;
    horizontal-align: 0.0;
}

error-message {
    padding: 15px;
    border-radius: 20px;
    background-color: @background;
    text-color: @foreground;
}
