/*
 *           _                         _
 * __      _| | ___   __ _  ___  _   _| |_
 * \ \ /\ / / |/ _ \ / _` |/ _ \| | | | __|
 *  \ V  V /| | (_) | (_| | (_) | |_| | |_
 *   \_/\_/ |_|\___/ \__, |\___/ \__,_|\__|
 *                   |___/
 *
 * ----------------------------------------------------------------------------------------------------------------------------------------
 */

/*
 * Import Wallust colors
 * --------------------------------------------------------------------------------------
 */
@import 'colors-wlogout.css';


/*
 * General
 * --------------------------------------------------------------------------------------
 */

* {
    all: unset;
    background-image: none;
    transition: 20ms;
    box-shadow: none;
}

window {
    background-color: rgba(0, 0, 0, 0);
    background-size: cover;
}

button {
    color: @foreground-theme;
    font-family: "MesloLGS NF";
    font-weight: bold;
    font-size: 2rem;
    background-color: @background-theme;

    padding-bottom: 2rem;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 15%;

    box-shadow: 0 1rem 1.4rem 0 rgba(0, 0, 0, 0.4), 0 1rem 2.5rem 0 rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease-in-out;
    border-width: 0;
}

button:focus {
    background-color: @color-btn-2;
}

button:hover {
    background-color: @color-btn-1;
}

button:active {
    background-color: @color-btn-3;
}


/*
 * Buttons
 * --------------------------------------------------------------------------------------
 */

#lock {
    margin: 4rem 0 0 20rem;
    border-radius: 6rem 0 0 0;
}

#logout {
    margin: 0 0 4rem 20rem;
    border-radius: 0 0 0 6rem;
}

#shutdown {
    margin: 4rem 20rem 0 0;
    border-radius: 0 6rem 0 0;
}

#reboot {
    margin: 0 20rem 4rem 0;
    border-radius: 0 0 6rem 0;
}
