@import url('colors-nwg.css');

* {
    color: @foreground-theme;
}

window {
    background-color: @background-theme;
    border-radius: 1rem;

    border: 2px solid @border-accent-color;
}

/* search entry */
entry {
    background-color: rgba (0, 0, 0, 0.2);
}

button, image {
    background: none;
    border: none;
}

button:hover {
    background-color: rgba (255, 255, 255, 0.1);
}

/* in case you wanted to give category buttons a different look */
#category-button {
    margin: 0rem 1rem;
    padding: 0rem 1rem;
}

#pinned-box {
    padding-bottom: 0.5rem;
    border-bottom: 1px dotted gray;
}

#files-box {
    padding: 0.5rem;
    border: 1px dotted gray;
    border-radius: 1rem;
}

/* math operation result label */
#math-label {
    font-weight: bold;
    font-size: 1rem;
}
