/*  _____
 * |_   _|   _ _ __   ___  _ __ __ _
 *   | || | | | '_ \ / _ \| '__/ _` |
 *   | || |_| | |_) | (_) | | | (_| |
 *   |_| \__, | .__/ \___/|_|  \__,_|
 *       |___/|_|
 *
 * ----------------------------------------------------------------------------------------------------------------------------------------
 */

.definition {
	border-left: 6px solid #9BF6FA;
	padding: 5px 0px 3px 10px;
	margin: 20px 0px 5px 0px;
	text-align: justify;
}

.mcq {
	border-left: 6px solid #7affa4;
	padding: 5px 0px 3px 10px;
	margin: 20px 0px 5px 0px;
	text-align: justify;
}

.notes {
	border-left: 6px solid #FB9BFB;
	padding: 5px 0px 3px 10px;
	margin: 20px 0px 5px 0px;
	text-align: justify;
}

.orange-block {
	border-left: 6px solid #FFCB9D;
	padding: 5px 0px 3px 10px;
	margin: 20px 0px 5px 0px;
	text-align: justify;
}

h2, h3, h4 {
	page-break-after: avoid;
}

/** initialize css counter */
#write {
	counter-reset: h1
}

h1 {
	counter-reset: h2
}

h2 {
	counter-reset: h3
}

h3 {
	counter-reset: h4
}

h4 {
	counter-reset: h5
}

h5 {
	counter-reset: h6
}

/** put counter result into headings */
#write h1:before {
	counter-increment: h1;
	content: counter(h1, upper-roman) " - "
}

#write h2:before {
	counter-increment: h2;
	content: counter(h1, upper-roman) "." counter(h2) " - "
}

#write h3:before,
h3.md-focus.md-heading:before /** override the default style for focused headings */ {
	counter-increment: h3;
	content: counter(h1, upper-roman) "." counter(h2) "." counter(h3) " - "
}

#write h4:before,
h4.md-focus.md-heading:before {
	counter-increment: h4;
	content: counter(h1, upper-roman) "." counter(h2) "." counter(h3) "." counter(h4) " - "
}

#write h5:before,
h5.md-focus.md-heading:before {
	counter-increment: h5;
	content: counter(h1, upper-roman) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) " - "
}

#write h6:before,
h6.md-focus.md-heading:before {
	counter-increment: h6;
	content: counter(h1, upper-roman) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) " - "
}

/** override the default style for focused headings */
#write>h3.md-focus:before,
#write>h4.md-focus:before,
#write>h5.md-focus:before,
#write>h6.md-focus:before,
h3.md-focus:before,
h4.md-focus:before,
h5.md-focus:before,
h6.md-focus:before {
	color: inherit;
	border: inherit;
	border-radius: inherit;
	position: inherit;
	left:initial;
	float: none;
	top:initial;
	font-size: inherit;
	padding-left: inherit;
	padding-right: inherit;
	vertical-align: inherit;
	font-weight: inherit;
	line-height: inherit;
}

/**************************************
 * Header Counters in TOC
 **************************************/

/* No link underlines in TOC */
.md-toc-inner {
	text-decoration: none;
}

.md-toc-content {
	counter-reset: h1toc
}

.md-toc-h1 {
	margin-left: 0;
	font-size: 1.5rem;
	counter-reset: h2toc
}

.md-toc-h2 {
	font-size: 1.1rem;
	margin-left: 2rem;
	counter-reset: h3toc
}

.md-toc-h3 {
	display: None;
}

.md-toc-h4 {
	display: None;
}

.md-toc-h5 {
	display: None;
}

.md-toc-h6 {
	display: None;
}

.md-toc-h1:before {
	color: black;
	counter-increment: h1toc;
	content: counter(h1toc, upper-roman) " - "
}

.md-toc-h1 .md-toc-inner {
	margin-left: 0;
}

.md-toc-h2:before {
	color: black;
	counter-increment: h2toc;
	content: counter(h2toc) " - "
}

.md-toc-h2 .md-toc-inner {
	margin-left: 0;
}

.md-toc-h3:before {
	color: black;
	counter-increment: h3toc;
	content: counter(h1toc) ". " counter(h2toc) ". " counter(h3toc) ". "
}

.md-toc-h3 .md-toc-inner {
	margin-left: 0;
}

.md-toc-h4:before {
	color: black;
	counter-increment: h4toc;
	content: counter(h1toc) ". " counter(h2toc) ". " counter(h3toc) ". " counter(h4toc) ". "
}

.md-toc-h4 .md-toc-inner {
	margin-left: 0;
}

.md-toc-h5:before {
	color: black;
	counter-increment: h5toc;
	content: counter(h1toc) ". " counter(h2toc) ". " counter(h3toc) ". " counter(h4toc) ". " counter(h5toc) ". "
}

.md-toc-h5 .md-toc-inner {
	margin-left: 0;
}

.md-toc-h6:before {
	color: black;
	counter-increment: h6toc;
	content: counter(h1toc) ". " counter(h2toc) ". " counter(h3toc) ". " counter(h4toc) ". " counter(h5toc) ". " counter(h6toc) ". "
}

.md-toc-h6 .md-toc-inner {
	margin-left: 0;
}

.md-toc-h1 > a, .md-toc-h2 > a {
	color: black;
	text-decoration: None !important;
}

.md-toc-h1 > a:link, .md-toc-h2 > a:link {
	color: black;
	text-decoration: None !important;
}

.md-toc-h1 > a:visited, .md-toc-h2 > a:visited {
	color: black;
	text-decoration: None !important;
}

.md-toc-h1 > a:hover, .md-toc-h2 > a:hover {
	color: black;
	text-decoration: None !important;
}

.md-toc-h1 > a:active, .md-toc-h2 > a:active {
	color: black;
	text-decoration: None !important;
}


/*
	Code Blocks.
	https://github.com/valfur03/Monokai-Theme-for-Typora/blob/master/light-monokai.css
*/

.md-fences {
    border: 1px solid #696969;
    border-radius: 10px;
    padding: 5px;
    background: #272822;
	color: rgba(233, 237, 237, 1);
}

.md-fences .code-tooltip {
	background-color: #272822;
	border-radius: 5px;
}

.cm-s-inner.CodeMirror {
    color: #ffffff;
}

.cm-s-inner span.cm-comment {
    color: #00ffff;
}

.cm-s-inner span.cm-atom {
    color: #ae81ff;
}

.cm-s-inner span.cm-number {
    color: #ae81ff;
}

.cm-s-inner span.cm-operator {
    color: #fff;
}

.cm-s-inner span.cm-comment.cm-attribute {
    color: #97b757;
}

.cm-s-inner span.cm-comment.cm-def {
    color: #bc9262;
}

.cm-s-inner span.cm-comment.cm-tag {
    color: #bc6283;
}

.cm-s-inner span.cm-comment.cm-type {
    color: #5998a6;
}

.cm-s-inner span.cm-property,
.cm-s-inner span.cm-attribute {
    color: #a6e22e;
}

.cm-s-inner span.cm-keyword {
    color: #f92672;
}

.cm-s-inner span.cm-builtin {
    color: #a6e22e;
}

.cm-s-inner span.cm-string {
    color: #e6db74;
}

.cm-s-inner span.cm-variable {
    color: #fff;
}

.cm-s-inner span.cm-variable-2 {
    color: #a6e22e;
}

.cm-s-inner span.cm-variable-3,
.cm-s-inner span.cm-type {
    color: #f92672;
}

.cm-s-inner span.cm-def {
    color: #a6e22e;
}

.cm-s-inner span.cm-bracket {
    color: #f8f8f2;
}

.cm-s-inner span.cm-tag {
    color: #f92672;
}

.cm-s-inner span.cm-header {
    color: #ae81ff;
}

.cm-s-inner span.cm-link {
    color: #ae81ff;
}

.cm-s-inner span.cm-error {
    background: #f92672;
    color: #f8f8f0;
}

.cm-s-inner .CodeMirror-matchingbracket {
    text-decoration: underline;
    color: white !important;
}

.CodeMirror div.CodeMirror-cursor {
    border-left: 1px solid white;
}
