sourceDir = "{{ .chezmoi.homeDir }}/.local/share/dotfiles"
encryption = "age"
editor = "codium --wait"
persistentState = "{{ .chezmoi.homeDir }}/.local/share/chezmoi/chezmoistate.boltdb"

[age]
    identity = "{{ .chezmoi.homeDir }}/.config/chezmoi/key.txt"
    symmetric = true

[diff]
    pager = "delta"
