sourceDir = "/home/tristan/.local/share/dotfiles"
encryption = "age"
editor = "codium --wait"
persistentState = "/home/tristan/.local/share/chezmoi/chezmoistate.boltdb"

[age]
    identity = "~/.config/chezmoi/key.txt"
    symmetric = true

[diff]
    pager = "delta"
