file://{{ .chezmoi.homeDir }}/Nextcloud
file://{{ .chezmoi.homeDir }}/Documents Documents
file://{{ .chezmoi.homeDir }}/Downloads Downloads
file://{{ .chezmoi.homeDir }}/Media Media
file://{{ .chezmoi.homeDir }}/Media/Pictures Pictures
smb://192.168.1.10/raspnas/ raspnas on 192.168.1.10
