//  _   _ _      _
// | \ | (_)_ __(_)
// |  \| | | '__| |
// | |\  | | |  | |
// |_| \_|_|_|  |_|
//
// ----------------------------------------------------------------------------------------------------------------------------------------
// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://niri-wm.github.io/niri/Configuration:-Introduction
// ----------------------------------------------------------------------------------------------------------------------------------------

// --------------------------------------------------------------------------------------
// Monitor
// --------------------------------------------------------------------------------------
include "conf/monitor.kdl"

// --------------------------------------------------------------------------------------
// Cursor
// --------------------------------------------------------------------------------------
include "conf/cursor.kdl"

// --------------------------------------------------------------------------------------
// Keyboard
// --------------------------------------------------------------------------------------
include "conf/keyboard.kdl"

// --------------------------------------------------------------------------------------
// Load wallust color file
// --------------------------------------------------------------------------------------
// require("conf/colors-hyprland")

// --------------------------------------------------------------------------------------
// Autostart
// --------------------------------------------------------------------------------------
include "conf/autostart.kdl"

// --------------------------------------------------------------------------------------
// Configuration
// --------------------------------------------------------------------------------------
// require("conf/windows")
include "conf/decorations.kdl"
include "conf/layout.kdl"
// require("conf/misc")
include "conf/keybindings.kdl"
// require("conf/touch-gestures")
include "conf/layer-rules.kdl"
include "conf/window-rules.kdl"
include "conf/environment.kdl"
include "conf/animations.kdl"
