[Settings]
language = en
folder = ~/Media/Pictures/wallpapers
wallpaper = ~/Media/Pictures/wallpapers/Anime-Lake.png
backend = awww
monitors = All
fill = fill
sort = name
color = #ffffff
subfolders = False
show_hidden = False
show_gifs_only = False
post_command = ~/.config/hypr/scripts/theming/wallpaper.sh $wallpaper
number_of_columns = 3
swww_transition_type = wipe
swww_transition_step = 90
swww_transition_angle = 120
swww_transition_duration = 2
swww_transition_fps = 60
use_xdg_state = False
show_transition_options = True
show_path_in_tooltip = True
all_subfolders = False
mpvpaper_sound = False
mpvpaper_options =
zen_mode = True
stylesheet = {{ .chezmoi.homeDir }}/.config/waypaper/style.css
keybindings = ~/.config/waypaper/keybindings.ini

